.adm-submenu-item-name-link .icon-menu-zr-stoplist
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA20lEQVR4nO2ZQQrCQAxF5x66VG+Q2F0h8bJSejMLbUnXSpEirsKM0FT6H2Q9/09+hmEmJQAA2CxTzUdTakxpNOXnukWjCbfD7XouFy/UrS+cv0uom6Q6ZBt473yweF1M8L3EwLghA32BgQ0I10/BgKEDjAhlER0ZwxDrzo7RXGDAAx1wQIQ8ECEHRMgDEXJAhDx2FyH798ucwQCjA19ER8YwAxq/67bvU0hoiBZtPz3uCrfhwnUparINDEoXE36Eixfq+ro6pRLmn5H5cyEkTjKvSU2xeAAASGvwAqphEFia9nxCAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    margin-right: 8px;
    margin-left: -4px;
}